entrypoint = "src/app/page.tsx"
run = "npm run build && npx prisma migrate deploy && npm run start -- -p 3000 -H 0.0.0.0"

[nix]
channel = "stable-24_05"

[env]
PORT = "3000"

[[ports]]
localPort = 3000
externalPort = 80
